<!DOCTYPE html>
<html>
<head>
    <title>ProjectRider</title>
    @*<link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/create-style.css")" rel="stylesheet" />*@
    @Styles.Render("~/Content/style.css")	
	@Styles.Render("~/Content/create-style.css")
    @Styles.Render("~/Content/reset.css")
</head>
<body>
	@RenderBody()
</body>
</html>